##################################################
#------------------------------------------------#
# StarLinux Package Manager - Configuration File #
#------------------------------------------------#
##################################################

SPM_VER="7/1/18 - 12:40am EST"

##################
# Download Links #
##################


###############
# Directories #
###############
