##################################################
#------------------------------------------------#
# StarLinux Package Manager - Configuration File #
#------------------------------------------------#
##################################################

REPO_DATE="[7/5/18 - 8:17pm EST]"
TEST="HI"

##################
# Download Links #
##################


###############
# Directories #
###############


#############
# Variables #
#############


