##################################################
#------------------------------------------------#
# StarLinux Package Manager - Configuration File #
#------------------------------------------------#
##################################################

REPO_DATE="[7/5/18 - 9:24pm EST]"
TEST="HI"

####################
# Package Versions #
####################


##################
# Download Links #
##################


###############
# Directories #
###############
MAIN_DIR="`read_config MAIN_DIR`"
WORK_DIR="`read_config WORK_DIR`"
SRC_DIR="`read_config SRC_DIR`"
FINAL_DIR="`read_config FINAL_DIR`"


##################
# Main Variables #
##################
MAIN_DIR="/tmp/protostar"
WORK_DIR="/tmp/protostar/work"
SRC_DIR="/tmp/protostar/source"
FINAL_DIR="/tmp/protostar/final"
JOB_FACTOR=2
CFLAGS="`-Os -s -fno-stack-protector -fomit-frame-pointer -U_FORTIFY_SOURCE"
VERSION="vGIT"
BUILD_NUMBER="$REPO_DATE"
CODENAME="Protostar"




# ----- Protostar Variables ----- #


